@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #24272E;
}

header{
    background: white;
    padding: 20px;
}

header > h1 {
    color: #24272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board{
    border: 3px solid white;
    width: 200px;
    padding: 15px;
    margin: 15px auto;
    color: white;
    font-size: 40px;
    text-align: center;
    border-radius: 4px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge{
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -25px;
}

.result{
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: Asap, sans-serif;
}

.choices{
    text-align: center;
    margin: 45px 0;
}

.choice{
    display: inline-block;
    padding: 15px 25px;
    transition: all 0.3s;
}

.choice:hover {
    cursor: pointer;
    background: red;
}

#action-message{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: Asap, sans-serif;
}